.back-button {
  display: flex;
  gap: 0.5em;
  padding-left: .2em;
  position: relative;

  .icon {
    height: 1.5em;
    width: 1.5em;
  }

  a {
    font-family: 'Dosis';
    text-decoration-color: $color-blues-main-blue;
  }
}

.event-banner {
  position: relative;
  height: 130px;
  width: 100%;
  background: linear-gradient(to top, rgb(202, 120, 176), transparent);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: -1;
    position: relative;
    filter: blur(1px);
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  h1 {
    color: white;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  }
}

.privacy {
  position: absolute;
  top: -10px;
  right: 6px;
}

.event-details {

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  p {
    margin-bottom: 0;
  }

  .detail-row {
    display: flex;
    align-items: center;
    gap: .5em;

    a {
      font-weight: 700;
      font-family: $font-dosis;
    }

    p {
      font-family: $font-dosis;
    }
  }
}

.edit-event-links {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;  border-radius: 5px;
  padding: 0.3em 0.5em;
  width: fit-content;
  position: absolute;
  bottom: -1em;
  right: 6px;
  // background-color: white;
  background-color: #efd6e7;

  a {
    font-size: 1.3em;
    padding: 0 0.2em;
    color: #ca78b0;
    text-decoration: none;
  }
}

.modal-header {
  border: none;
}

.close {
  border: none;
}

.event-description {
  padding: 0 0.5em;
}

form.new_invite {
  display: flex;
}

#inviteModal {
  .modal-body {
    padding-top: 0;
  }

  .invite_receiver_id {
    flex: 2;
    margin-bottom: 0 !important;
  }
}

.event-attendees .amigos-box {

  display: inline-flex;
  overflow-x: scroll;
  width: 100%;
  padding: 0.5em 0 0 0;

  .amigo-avatar {
    flex-shrink: 0;
    text-overflow: clip;
  }

}

.event-attendees .amigo-avatar {
  button:first-child {
    width: 60px;
    height: 60px;
    background-color: white;

    i {
      font-size: 1.2em;
      color: $color-purples-main-purple;
    }
  }

  p {
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 1em;
    font-weight: 700;
  }
}
