.event-banner {
  position: relative;
  height: 130px;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 2px;
  }

  h1 {
    color: white;
  }
}

.privacy {
  position: absolute;
  top: -10px;
  right: 6px;
}

.event-details {

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  p {
    margin-bottom: 0;
  }

  .detail-row {
    display: flex;
    align-items: center;
    gap: .5em;
  }
}
