.showbar {
  display: flex;
  height: 5%;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;

  position: absolute;
  top: 10px;
  right: 3px;
  font-size: .7em;
  padding: 1em 0;

  i {
    font-size: 1.5em;
  }

  svg {
    height: 2em;
    width: 2em;
  }

}

.showbar > * {
  margin-bottom: 0;
}

.place-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  position: relative;

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 700;
  }

  h1 {
    max-width: 60%;
  }
}

.place-address {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 1em;
}

.place-address .icon {
  height: 26px;
  width: 26px;
}

.place-rating {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 12px;
}

.place-activity span {
  color: $color-oranges-main-orange;
}

.place-image-box {
  border: 4px solid $color-black-greys-main-black;
  border-radius: 20px;
  height: 245px;
}

.place-image-box img {
  border-radius: 1em;
  height: 100%;
  width: 100%;
}

.place-image-carousel {
  position: relative;
}

.place-image-carousel .pill {
  position: absolute;
  top: -10px;
  right: 6px;
}

.showbar .unfavorite i.fas {
  color: $color-red;
}

.favorite a i.fas {
  color: $color-red;
}
