// Place Category Cards (ie Home Page & User Dashboard/Profile)
.category-cards {
  display: inline-flex;
  overflow-x: scroll;
  width: 100%;
  gap: 1em;
  padding: 0 0.5em 0.5em 0;
  align-items: center;
}

.category-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 18px;
  width: 300px;
  flex-shrink: 0;
  text-overflow: clip;
  height: 36vh;
}

.category-card:last-child {
  margin-right: 1em;
}

.category-card-info p, .category-card-info a {
  margin-bottom: 0;
}

.category-card-info {
  display: flex;
  flex-direction: column;
  font-family: "Dosis";
  padding: 0.5em 1em;
  overflow: hidden;
  font-size: clamp(0.9em, 1em, 1em);
  justify-content: space-around;
  flex-shrink: 0;
  text-align: center;
}

.category-card-info a {
  font-family: $font-dosis;
  font-weight: 800;
  font-size: 1.5em;
  text-decoration: none;
  color: $color-black-greys-main-black;
}

.category-card::before, .category-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 7px;
  right: -7px;
  bottom: -11px;
  background: #FEEB89;
  transform: rotateY(0deg) rotateX(12deg);
  /* transform-origin: 0 0; */
  border-radius: 22px;
  border: 2px solid black;
}

// Search Cards (ie Search Page / Place Index)

.search-card {
  display: flex;
  height: 230px;
  background-color: #a8eeffcf;
  border-radius: 1em;
  border: 3px solid black;
}

.search-card > * {
  flex: 1;
}

.search-card .info {

  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    margin-bottom: 0;
    font-size: 0.875rem;
    font-family: "Mulish";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
  }

  h2 {
    font-size: 1.125rem;
    font-family: "Paytone One";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    margin-bottom: .2em;
  }

  a {
    font-size: 0.875rem;
    font-family: "Mulish";
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-transform: none;
  }

}

.search-card .icons > * {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-grow: 1;
  height: 100%;
}

.header .stars {
  margin-bottom: 0.5em;
}

.search-card .image-1 {
  img {
    object-fit: cover;
    height: 100%;
    border-radius: 0 0.8em 0.8em 0;
  }
}


// Place Show Card (on individual Show page)

// User Dashboard Event Card

// Event Card on Place Wall

.event-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 18px;
  width: 300px;
  height: 410px;
  flex-shrink: 0;
}

.show-event-card {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1em;
  gap: 1em;

  h2 {
    margin-bottom: 0;

    a {
      font-family: "Dosis";
      font-weight: 600;
      font-style: normal;
      text-transform: none;
      font-size: .8em;
      text-decoration: none;
    }

  }

}

// .show-event-card h2 a {
//   font-family: "Dosis";
//   font-weight: 600;
//   font-style: normal;
//   text-transform: none;
//   font-size: .8em;
// }

.show-event-card .event-info p {
  margin-bottom: 0;
  text-align: left;
}

.event-info {
  font-size: .7em;
  flex: 2;
  padding: 0 0.5em;
  position: relative;
}

p.description {
  padding-top: 0.5em;
}

.subline {
  display: flex;
  font-weight: 700;
  gap: 1em;
}

.event-image {
  height: 100%;
  flex: 1;
  align-self: center;
}

.event-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.img-box {
  flex: 2;
  height: 50%;
  position: relative;

  svg {
    position: absolute;
    bottom: -16px;
    fill: white;
  }

  img {
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    height: 100%;
    width: 100%;
  }
}

.dashboard-section .show-event-card {
  flex-direction: column;
  width: 250px;
  gap: 0.5em;
  flex-shrink: 0;
  margin-bottom: 0;
  width: fit-content;
  height: 190px;

  .event-image {
    width: 100%;
    height: 100px;

    img {
      width: 100%;
    }
  }
}

.dashboard-section .show-event-card.toggler-items {
  background-color: $color-blues-blue-3;
}

.dashboard-events {
  display: inline-flex;
  overflow-x: scroll;
  width: 100%;
  gap: 1em;
}

.dashboard-section .show-event-card .event-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: scroll;
  width: 100%;
  text-align: center;

  .subline {
    gap: 3px;
    order: 2;
  }

  h2 {
    order: 1;
  }

  p {
    order: 3;

    &.description {
      display: none;
    }
  }
}

.dashboard-section.attending .show-event-card {

  background-color: $color-pinks-pink-3;

}

// Favorite Cards

.category-card.favorite::before, .category-card.favorite::after {
  background: $color-red;
}

.favorite-marker {
  position: absolute;
  top: 5px;
  right: 5px;

  .icon {
    height: 2em;
    width: 2em;
    fill: $color-red;
  }
}
