.homebar {
  height: 50px;
  background-color: $color-pinks-main-pink;
  padding: 0.5em;
  border-radius: 3px;
  justify-content: flex-end;

  display: flex;

  img {
    height: 100%;
  }

  .home-logo {
    height: 100%;
    width: 100%;
  }

  .icon {
    width: 2em;
    height: 2em;
    fill: $color-pinks-pink-4
  }

  .home-link {
    display: flex;
    width: 64%;
  }
}
