.homebar {
  height: 50px;
  background-color: $color-pinks-main-pink;
  padding: 0.5em;
  // border-bottom: 4px solid #000000c7;
  border-radius: 3px;
}

.homebar img {
  height: 100%;
  margin: 0 auto;
}
