//  Wall/Event?Reviews Toggler...
.nav-item {
  background: $color-yellows-yellow-5;
  font-family: $headers-font;
  color: $color-yellows-yellow-3;
  flex: 1;
  padding: 0.3em;
  border-radius: 0.5em;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $color-yellows-main-yellow ;
  color: $color-black-greys-main-black;
  border: #000000;
}
.nav-pills .nav-link {
  color: #000000;
  border: none;
  width: 100%;
}

.tab-content {
  font-family: $body-font;
}

.tab-content > .active {
  min-height: 200px;
  // padding: 0.5em;
  border-radius: 10px;
  // border: 3px solid;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 0.5em;
}

.show-box-wrapper {
  border: 3px black solid;
  border-radius: 0.5em;
  background: $color-yellows-yellow-5;
}

.nav.wall :not(.active) {
  color: $color-black-greys-main-black;
  /* Styles for children without the class "active" */
}

// .toggler-header {
//   border-bottom: #000000 2px solid;
//   padding-bottom: 10px;
// }

.toggler-items {
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 10px;
  background-color: $color-oranges-orange-5;
}

.wall-button {
  width: 94%;
}

.comment-box {
  display: flex;
  gap: 1em;
  min-height: 100px;  

  .main-text {
    width: 100%;
  }
}

.amigo-avatar.comment {
  justify-content: center;
}
