// we should review how these work, also rename them

h1, h2, h3, p, a {
  color: $color-black-greys-main-black;
}

.header {
  padding-bottom: 0.2em;
  text-decoration: underline;
}

.header.big {
  padding-bottom: .5em;
}

p, a {
  font-family: $body-font;
}

.byline {
  font-family: $body-font;
  // font-weight: 700;
  font-size: .8em;
}

.text-justify {
  text-align: justify;
}

h1 {
  font-size: 1.75rem;
  font-family: "Paytone One";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}

h2 {
  font-size: 1.5rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

p {
  font-family: "Mulish";
}

.bigger-font {
  font-size: 1.2rem;
}

.white {
  color: white;
}

.resize-text {
  white-space: nowrap; /* Prevents text from breaking into a new line */
  font-size: calc(12px + 1vw); /* Resizes font size based on viewport width */
  max-width: 100%; /* Ensures text stays within parent container */
}

@mixin text-style-h-1() {
	font-size: 1.75rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

@mixin text-style-h-2() {
	font-size: 1.5rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-h-3() {
	font-size: 1.625rem;
	font-family: "Dosis";
	font-weight: 500;
	font-style: normal;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-p() {
	font-size: 1.125rem;
	font-family: "Mulish";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-p-subtitle() {
	font-size: 1.125rem;
	font-family: "Mulish";
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-event-details-p() {
	font-size: 1rem;
	font-family: "Mulish";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-avatar-p() {
	font-size: 0.75rem;
	font-family: "Mulish";
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-category-pill-text() {
	font-size: 1.25rem;
	font-family: "Dosis";
	font-weight: 800;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-info-card-text() {
	font-size: 1.625rem;
	font-family: "Dosis";
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-input-text() {
	font-size: 1rem;
	font-family: "Dosis";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-btn-text() {
	font-size: 1.125rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-a-link() {
	font-size: 0.875rem;
	font-family: "Mulish";
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.02em;
	text-decoration: underline;
	text-transform: none;
}
