body {
  max-width: 414px;
  margin: 0 auto;
}

.semi-thick-border-radius {
  border: 3px solid black;
  border-radius: 20px;
}

.thick-border-radius {
  border: 4px solid black;
  border-radius: 20px;
}

.full-wrapper {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.bottom-space {
  margin-bottom: 8px;
}

.bottom-space.big {
  margin-bottom: 20px;
}

.bottom-space-small {
  margin-bottom: .5em;
}

.huge-space {
  margin-bottom: 3em;
}

.total-space {
  margin-bottom: 1em;
  margin-top: 1em;
}

.upper-space {
  // margin-top: 1.2em;
  margin-top: 2em;
}

.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.not-signed-in {
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.not-signed-in p {
  font-size: 1.125rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}

.flex-b-s-g-default {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.two-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
  justify-items: center;
}

.two-row-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.two-row-grid > div .icon {
  height: 45px;
  flex: 1;
}

.two-row-grid > div p {
  margin-bottom: 0;
  flex: 2;
}

.two-row-grid .div1 { grid-area: 1 / 1 / 2 / 2; }
.two-row-grid .div2 { grid-area: 1 / 2 / 2 / 3; }
.two-row-grid .div3 { grid-area: 2 / 1 / 3 / 2; }
.two-row-grid .div4 { grid-area: 2 / 2 / 3 / 3; }

.matched-radius {
  --matched-radius-padding: 8px;
  --matched-radius-inner-size: 12px;

  padding: var(--matched-radius-padding);
  border-radius: calc(
    var(--matched-radius-inner-size) + var(--matched-radius-padding)
  );
}

.matched-radius__inner {
  border-radius: var(--matched-radius-inner-size);
}

@media screen and (min-width: 415px) {
  .body-border {
    // border: 1px solid black;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}
