.full-wrapper {
  height: 100vh;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.bottom-space {
  margin-bottom: 1.2em;
}

.bottom-space.big {
  margin-bottom: 2em;
}

.bottom-space-small {
  margin-bottom: .5em;
}

.upper-space {
  margin-top: 1.2em;
}

.flex-b-s-g-default {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.two-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
  justify-items: center;
}

.two-row-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.two-row-grid > div .icon {
  height: 45px;
  flex: 1;
}

.two-row-grid > div p {
  margin-bottom: 0;
  flex: 2;
}

.two-row-grid .div1 { grid-area: 1 / 1 / 2 / 2; }
.two-row-grid .div2 { grid-area: 1 / 2 / 2 / 3; }
.two-row-grid .div3 { grid-area: 2 / 1 / 3 / 2; }
.two-row-grid .div4 { grid-area: 2 / 2 / 3 / 3; }
