// body {
//   background: transparent;
// }

.transparent-box {
  background: transparent;
}

html {
  max-width: 414px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.semi-thick-border-radius {
  border: 3px solid black;
  border-radius: 20px;
}

.thick-border-radius {
  border: 4px solid black;
  border-radius: 20px;
}

.full-wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  // height: calc(100vh - 132px);
  // height: calc(100vh - 120px);
  height: calc(100dvh - 120px);
}

.bottom-space {
  margin-bottom: 8px;
}

.bottom-space.big {
  margin-bottom: 20px;
}

.bottom-space-small {
  margin-bottom: .5em;
}

.huge-space {
  margin-bottom: 3em;
}

.total-space {
  margin-bottom: 1em;
  margin-top: 1em;
}

.upper-space {
  // margin-top: 1.2em;
  margin-top: 2em;
}

.nav-shadow {
  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.not-signed-in {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;

  .links {
    gap: .5em;
  }
}

.not-signed-in p {
  font-size: 1.125rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
  margin-bottom: 0;
}

.flex-b-s-g-default {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.two-row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 1.5em;
  justify-items: center;
  margin: 2em auto;
}

.two-row-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.two-row-grid > div .icon {
  height: 2.5em;
  width: 2.5em;
  flex: 1;
}

.two-row-grid > div:empty:last-child,
.two-row-grid > div:empty:nth-last-child(2):not(:empty) {
  display: none;
}

.two-row-grid > div p {
  margin-bottom: 0;
  flex: 1;
  font-family: $font-dosis;
}

.matched-radius {
  --matched-radius-padding: 8px;
  --matched-radius-inner-size: 12px;

  padding: var(--matched-radius-padding);
  border-radius: calc(
    var(--matched-radius-inner-size) + var(--matched-radius-padding)
  );
}

.matched-radius__inner {
  border-radius: var(--matched-radius-inner-size);
}

@media screen and (min-width: 415px) {
  .body-border {
    // border: 1px solid black;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}
