<div class="homebar text-center nav-shadow">
  <div class="home-link">
    <%= link_to root_path, class: "home-logo" do %>
      <%= image_tag "staggered-whitish.png" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: { "turbo-method": :delete } do %>
        <%= render "shared/icon", id: Icon.library(:signout) %>
      <% end %>
    <% end %>

  </div>
</div>
