<div class="navbar-styled fixed-bottom">
  <div class="container navbar-icons">
    <div class="navbar-icon">
      <i class="fa-solid fa-house-chimney">
        <%= link_to root_path %>
      </i>
    </div>
    <div class="navbar-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="navbar-icon">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="navbar-icon">
      <i class="fa-solid fa-circle-user"></i>
    </div>
  </div>
</div>
