<% if Attendance.where(user: current_user, event:event).exists? %>
  <div class="cta cta-big w-100">
    <p class="cta-basic-front w-100">You are attending!</p>
  </div>
<% else %>
<div class="cta cta-big w-100 bottom-space">
  <%= simple_form_for [event, attendance], data: {attendances_target: "form", action: "submit->attendances#send"}, html: { class: 'w-100' } do |f| %>
    <%= f.submit "Attend Event", class: 'cta-basic-front w-100' %>
  <% end %>
</div>
<% end %>
