<div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content thick-border-radius">
      <div class="modal-header">
        <h2 class="modal-title" id="inviteModalLabel">Invite an Amigo!</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@event, @invite], class: "d-flex" do |f| %>
          <%= f.input :receiver_id, label: false, collection: @friends, label_method: :username %>
          <%= f.submit class: "btn button-small left-margin-bump orange resize-text" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
