<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Add friends!</h2>
        <button type="button" class="close" data-bs-toggle="modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@event, @invite] do |f| %>
         <%= f.input :receiver_id, label: false, collection: @friends, label_method: :username %>
         <%= f.submit class: "cta-basic-front resize-text" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
