<div data-attendances-target="attendees">
  <div class="amigos-box">
    <% @attendances.where(event: @event).each do |attendance| %>
      <div class="amigo-avatar">
        <%= image_tag attendance.user.avatar, class: 'rounded-circle avatar green-stroke', style: "width: 60px" %>
        <%= link_to attendance.user.username, user_path(attendance.user), class: "fw-bold" %>
      </div>
    <% end %>
  </div>
</div>
