<div class="category-box bottom-space big" data-category-filter-target="filterContainer">
  <h2 class="header">Newest Playplaces</h2>
  <div class="category-cards bottom-space">
    <% places.each do |place| %>
      <div class="category-card card">
        <div class="img-box">
          <%= cl_image_tag place.photos[0].key, crop: :fill %>
        </div>
        <div class="category-card-info">
          <%= link_to place.name.capitalize, place_path(place), class: "stretched-link" %>
          <p><%= place.address %></p>
        </div>
      </div>
    <% end %>
  </div>
  <p class="text-center"><%= link_to "View all playareas", places_path %><p>
</div>
