<div data-search-target="results">

  <div class="category-cards bottom-space">
    <% places.each do |place| %>
      <div class="category-card card">
        <% if place.photos.present? %>
          <div class="img-box">
            <%= cl_image_tag place.photos[0].key, crop: :fill %>
          </div>
        <% end %>
        <div class="category-card-info">
          <%= link_to place.name.capitalize, place_path(place), class: "stretched-link" %>
          <p><%= place.address %></p>
        </div>
      </div>
      <% end %>
    </div>

      <% events.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </div>
  </div>
</div>
