<h1>This is where we play!</h1>

<%# This is bootstrap all the way. Javascript is below....%>
<%# Styling currently lives in the buttons.scss file... %>

<%# render("search_cards") %>

<%= render 'pages/search_cards', places: @places, events: @events%>

