<h1>This is where we play!</h1>

<%= render "shared/icon", id: Icon.library(:home) %>

<%= render "shared/icon", id: Icon.library(:search) %>

<div class="container">
  <div class="row">
   <div class="col-md-6  gx-2">
      <button class="button-basic-blue">
        <span class="front-blue">
          big slides
        </span>
      </button>
      <button class="button-basic-blue">
        <span class="front-blue">
          big slides
        </span>
      </button>
    </div>
  </div>
  <div class="row">
   <div class="col-md-6 gx-2">
      <button class="button-basic-blue">
        <span class="front-blue">
          big slides
        </span>
      </button>
      <button class="button-basic-blue">
        <span class="front-blue">
          big slides
        </span>
      </button>
    </div>
  </div>

</div>
