// Define variables for your color scheme

// rename these better

$color-black-greys-main-black: rgba(0,0,0,1);
$color-black-greys-muted-black: rgba(88,86,86,1);
$color-black-greys-deeper-black: rgba(65,58,58,1);
$color-black-greys-grey-1: rgba(136,136,136,1);
$color-black-greys-grey-2: rgba(187,187,187,1);
$color-black-greys-grey-3: rgba(221,221,221,1);

$color-pinks-main-pink: rgba(202, 120, 176, 1);
$color-pinks-pink-2: rgba(215, 153, 195, 1);
$color-pinks-pink-3: rgba(228, 186, 214, 1);
$color-pinks-pink-4: rgba(239, 214, 231, 1);
$color-pinks-pink-5: rgba(252, 247, 250, 1);

$color-purples-main-purple: rgba(158,138,191,1);
$color-purples-purple-3: rgba(177,161,204,1);
$color-purples-purple-4: rgba(202,191,220,1);
$color-purples-purple-5: rgba(223,216,234,1);
$color-purples-purple-6: rgba(248,246,250,1);

$color-oranges-main-orange: rgba(241,125,24,1);
$color-oranges-orange-2: rgba(244,149,67,1);
$color-oranges-orange-3: rgba(246,174,111,1);
$color-oranges-orange-4: rgba(249,198,154,1);
$color-oranges-orange-5: rgba(252,223,197,1);
$color-oranges-orange-6: rgba(255,253,251,1);

$color-yellows-main-yellow: rgba(250,211,2,1);
$color-yellows-yellow-2: rgba(252,220,46,1);
$color-yellows-yellow-3: rgba(253,228,92,1);
$color-yellows-yellow-4: rgba(254,235,137,1);
$color-yellows-yellow-5: rgba(254,243,183,1);
$color-yellows-yellow-6: rgba(255,252,239,1);

$color-blues-main-blue: #75CBD7;
$color-blues-blue-2: rgba(117,203,215,1);
$color-blues-blue-3: rgba(153,217,225,1);
$color-blues-blue-4: rgba(183,228,234,1);
$color-blues-blue-5: rgba(219,241,244,1);
$color-blues-blue-6: rgba(254,255,255,1);

$color-greens-green-1: rgba(99,154,100,1);
$color-greens-green-2: rgba(127,172,127,1);
$color-greens-green-3: rgba(155,190,155,1);
$color-greens-green-4: rgba(183,208,183,1);
$color-greens-green-5: rgba(211,226,211,1);
$color-greens-green-6: rgba(245,249,245,1);
