// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;800&family=Mulish:wght@400;700&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');

// Define fonts for baseline body and headers
$body-font: "Mulish", "Work Sans", "sans-serif";
$headers-font: "Paytone One", "Nunito", "Helvetica", "sans-serif";

$font-puffy: "DynaPuff";
$font-playful: "Paytone One";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
