.icon {
  width: 100px;
  height: 70px;
}

.navbar-icon .icon {
  height: 40px;
  fill: $color-pinks-pink-4;
}

.navbar-icon.active {
  border: 4px solid $color-black-greys-main-black;
  border-radius: 50px;
  padding: 2px 0.8em;
  background: $color-pinks-pink-4;
}

.navbar-icon.active .icon {
  fill: $color-pinks-main-pink;
  height: 35px;
}

@mixin icon($fill: null, $stroke: null) {
  height: 40px;

  &.icon--fill {
    fill: $fill;
  }

  &.icon--stroke {
    stroke: $stroke;
  }
}

.icon {
  @include icon();
}

.icon--purple {
  fill: $color-purples-main-purple;
  // @include icon($fill: $color-purples-main-purple);
  // @debug "color-purples-main-purple: #{$color-purples-main-purple}";
}

.icon--blue {
  fill: $color-blues-main-blue;
  @include icon($fill: $color-blues-main-blue);
}

.icon--orange {
  fill: $color-oranges-main-orange;
}

.icon--green {
  fill: $color-greens-main-green;
}

.icon--stroke {
  stroke: $color-black-greys-main-black;
  @include icon($stroke: $color-black-greys-main-black);
}

// .icon--primary-stroke {
//   @include icon($color: $primary-color, $stroke: black);
// }
