.icon {
  width: 100px;
  height: 70px;
}

.navbar-icon .icon {
  height: 40px;
  fill: $color-pinks-pink-4;
}

.star-box .icon, .stars .icon {
  height: 1.2em;
  width: 1.2em;
  fill: #FFC107;
  stroke: black;
}

.stars {
  align-self: baseline;
  gap: 0.2em;
}

.navbar-icon.active {
  // border: 4px solid $color-black-greys-main-black;
  // border-radius: 50px;
  // padding: 2px 0.8em;
  // background: $color-pinks-pink-4;
}

.navbar-icon.active .icon {
  // fill: $color-pinks-main-pink;
  fill: white;
  // height: 35px;
}

.search-card .icon {
  width: 22px;
}

@mixin icon($fill: null, $stroke: null) {

  &.icon--fill {
    fill: $fill;
  }

  &.icon--stroke {
    stroke: $stroke;
  }
}

.icon {
  @include icon();
}

.icon--small {
  height: 30px;
  width: 40px;
}

.icon--purple {
  fill: $color-purples-main-purple;
  // @include icon($fill: $color-purples-main-purple);
  // @debug "color-purples-main-purple: #{$color-purples-main-purple}";
}

.icon--blue {
  fill: $color-blues-main-blue;
  @include icon($fill: $color-blues-main-blue);
}

.icon--orange {
  fill: $color-oranges-main-orange;
}

.icon--yellow {
  fill: $color-yellows-main-yellow;
}

.icon--green {
  fill: $color-greens-main-green;
}

.icon--black {
  fill: $color-black-greys-main-black;
}

.icon--pink {
  fill: $color-pinks-main-pink;
}

.icon--stroke {
  stroke: $color-black-greys-main-black;
  @include icon($stroke: $color-black-greys-main-black);
}

// .icon--primary-stroke {
//   @include icon($color: $primary-color, $stroke: black);
// }
