// Below are default LeWagon styles
.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.amigos-box {
  display: flex;
  // gap: 1em;
}

.amigo-avatar {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar.stroke {
  border: 4px black solid;
}

.avatar.orange-stroke {
  box-shadow:12px -10px 1px 2px $color-oranges-orange-4;
  border: 4px $color-oranges-main-orange solid;
}

.avatar.orange-stroke.mini {
  box-shadow: 2px -3px 1px 2px #f9c69a;
  border: 3px #f17d18 solid;
}


.avatar.pink-stroke {
  box-shadow:12px -10px 1px 2px $color-pinks-pink-3;
  border: 4px $color-pinks-main-pink solid;
}

.amigo-avatar {

  .avatar.green-stroke  {
    box-shadow: 6px -3px 1px 2px #b7d0b7;
    border: 4px #639a64 solid;
  }

  .avatar.pink-stroke {
    box-shadow: 6px -3px 1px 2px $color-pinks-pink-3;
    border: 4px $color-pinks-main-pink solid;
  }

  .avatar.orange-stroke {
    box-shadow: 6px -3px 1px 2px #f9c69a;
    border: 3px #f17d18  solid;
  }

}

.amigo-avatar img.avatar.green-stroke  {
  box-shadow: 6px -3px 1px 2px #b7d0b7;
  border: 4px #639a64 solid;
}

.amigo-avatar  img.avatar.pink-stroke {
  box-shadow: 6px -3px 1px 2px $color-pinks-pink-3;
  border: 4px $color-pinks-main-pink solid;
}

.amigo-avatar img.avatar.orange-stroke {
  box-shadow: 6px -3px 1px 2px #f9c69a;
  border: 3px #f17d18  solid;
}

.avatar.green-stroke {
  box-shadow:12px -10px 1px 2px $color-greens-green-4;
  border: 4px $color-greens-main-green solid;
}

// below are Amigo avatar styles, for User Profiles
