.button-basic {
  background: $color-blues-blue-5;
  border-radius: 50px;
  border: 2px solid black;
  padding: 0;
  cursor: pointer;
  outline-offset: 2px;
  border: 2px $color-black-greys-main-black solid;
  font-family: Dosis;
  font-weight: bolder;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 50px;
  border: 2px solid black;
  font-size: 1.25rem;
  background: $color-blues-blue-2;
  color: $color-black-greys-main-black;
  transform: translate(-2px, -3px);
}

.button-basic:active .front {
  transform: translateY(-1px);
}

