.button-small {
  font-family: $font-playful;
  font-weight: 400;
  color: white;
}

.left-margin-bump {
  margin-left: 0.3em;
}

.button-small.success {
  background: $color-greens-main-green;
}

.button-small.decline {
  background: #dc3545;
}

.button-small.orange {
  background: $color-oranges-main-orange;
}

.button-small.blue {
  background: $color-blues-main-blue;
}

.no-border {
  border: none;
}

.button-small.purple {
  background: $color-purples-purple-3;
}

.button-basic {
  border-radius: 50px;
  padding: 0;
  outline-offset: 2px;
  border: 2px solid black;
  font-family: Dosis;
  font-weight: bolder;
  max-width: 175px;
}

.button-basic-blue {
  background: $color-blues-main-blue;
}

.button-basic-yellow {
  background: $color-yellows-main-yellow;
}

.button-basic-orange {
  background: $color-oranges-main-orange;
}

.button-basic-purple {
  background: $color-purples-main-purple;
}

.button-basic-green {
  background: $color-greens-green-6;
}

.front {
  display: block;
  padding: 0.5em;
  border-radius: 50px;
  border: 2px solid black;
  // font-size: 1.25rem;
  color: $color-black-greys-main-black;
  transform: translate(-2px, -3px);
}

.front-blue {
  background: $color-blues-blue-4;
}

.front-yellow {
  background: $color-yellows-yellow-5;
}

.front-orange {
  background: $color-oranges-orange-5;
}

.front-purple {
  background: $color-purples-purple-5;
}

.button-basic .front.pushed {
  transform: translateY(-1px);
  filter: saturate(160%);
}

.button-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.cta-big {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.submit-button-basic {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: 3px solid $color-black-greys-main-black;
  font-family: $body-font;
  font-weight: bolder;
  margin-bottom: 10px;
  background-color: $color-yellows-main-yellow !important;
  text-decoration: none;
}
