// .cta-basic {
//   background: $color-oranges-main-orange;
//   border-radius: 10px;
//   border: 2px solid black;
//   padding: 12px;
//   border: 2px $color-black-greys-main-black solid;
//   font-family: $headers-font;
//   color: black;
// }

// .cta-basic a {
//   text-decoration: none;
// color:
// font-weight: bold;
// }


.cta-basic {
  background: #f9c69a;
  border-radius: 10px;
  border: 2px solid black;
  padding: 0px;
  cursor: pointer;
  outline-offset: 0px;
  border: 2px black solid;
  font-family: "Paytone One", "Nunito", "Helvetica", "sans-serif";
}

.cta-basic-front {
  display: block;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid black;
  font-size: 1.25rem;
  background: #fef3b7;
  color: #F17D18;
  transform: translate(-2px, -3px);
  text-decoration: none;
  text-align: center;
  font-size: 1.75rem;
	font-family: "Paytone One";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
