.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
  border: 2px $color-black-greys-main-black solid;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}

.search-button {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid $color-black-greys-main-black;
  font-family: Dosis;
  font-weight: bolder;
  background-color: $color-yellows-yellow-5;
  text-decoration: none;
  margin-left: 5px;
}
