<div class="">
  <%= simple_form_for([place, comment], data: {comments_target: "form", action: "submit->comments#send"}) do |f| %>
    <%= f.input :content, as: :text, label: false %>
    <%= f.submit "Submit", class: "submit-button-basic" %>
  <% end %>
</div>
